# This file contains a mapping from client number (e.g. 1, 2, 3 etc) to a String containing IP address and
# port number of the server. Note: IP address is localhost for all servers but port numbers are different.

1 = 127.0.0.1:3001
2 = 127.0.0.1:3002
3 = 127.0.0.1:3003
4 = 127.0.0.1:3004
5 = 127.0.0.1:3005
6 = 127.0.0.1:3006